<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>book shope</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <servlet-class>servlet.CustomerDashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <url-pattern>/customerDashboard</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AdminDashboard</servlet-name>
    <servlet-class>servlet.AdminDashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AdminDashboard</servlet-name>
    <url-pattern>/adminDashboard</url-pattern>
</servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>servlet.AddBookServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBook</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>servlet.DeleteBookServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
</servlet-mapping>


<servlet>
        <servlet-name>LandingServlet</servlet-name>
        <servlet-class>servlet.LandingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LandingServlet</servlet-name>
        <url-pattern>/landing</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>servlet.PlaceOrderServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/placeOrder</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <servlet-class>servlet.UpdateOrderStatusServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <url-pattern>/UpdateOrderStatusServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>PayNowServlet</servlet-name>
    <servlet-class>servlet.PayNowServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PayNowServlet</servlet-name>
    <url-pattern>/pay-now</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>OrderStatusServlet</servlet-name>
    <servlet-class>servlet.OrderStatusServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>OrderStatusServlet</servlet-name>
    <url-pattern>/orderStatus</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>servlet.PayServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/payOrder</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>CustomerPendingOrderServlet</servlet-name>
    <servlet-class>servlet.CustomerPendingOrderServlet</servlet-class>
</servlet>


<servlet-mapping>
    <servlet-name>CustomerPendingOrderServlet</servlet-name>
    <url-pattern>/customerOrderStatus</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>CompletedOrdersServlet</servlet-name>
    <servlet-class>servlet.CompletedOrdersServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CompletedOrdersServlet</servlet-name>
    <url-pattern>/completedOrders</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>GenerateBillServlet</servlet-name>
    <servlet-class>servlet.GenerateBillServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>GenerateBillServlet</servlet-name>
    <url-pattern>/GenerateBillServlet</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>servlet.BillServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/BillServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AllOrderData</servlet-name>
    <servlet-class>servlet.AllOrderData</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AllOrderData</servlet-name>
    <url-pattern>/AllOrderData</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>servlet.EditCustomerServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>servlet.EditBookServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/EditBookServlet</url-pattern>
</servlet-mapping>


  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>